VITE_USE_EMULATORS=true
VITE_FIREBASE_API_KEY=demo-key
VITE_FIREBASE_PROJECT_ID=demo-lokasyon
VITE_FIREBASE_AUTH_DOMAIN=demo-lokasyon.firebaseapp.com
VITE_FIREBASE_STORAGE_BUCKET=demo-lokasyon.appspot.com
